.new-expense {
  padding: 15px 20px;
  border-radius: 20px;
  width: 960px;
  margin: 0 auto;
  margin-top: 44px;
  border: 2px solid white;
  background-color: rgb(138, 135, 135);
}

.expense-start{
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-start button{
  padding: 20px 40px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid white;
  background-color: green;
  border-radius: 20px;
  font-size: 24px;
}

